{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}
	<!-- ======= Frequently Asked Questions Section ======= -->
  	<section id="faq" class="faq">
		<div class="container" data-aos="fade-up">
			<div class="row gy-4">
				<div class="col-lg-4">
				<div class="content px-xl-5">
					<h3>Frequently Asked <strong>Questions</strong></h3>
					<p>Have questions about our parking system? You're at the right place.x</p>
				</div>
			</div>
				<div class="col-lg-8">
					<div class="accordion accordion-flush" id="faqlist" data-aos="fade-up" data-aos-delay="100">
						
						<div class="accordion-item">
							<h3 class="accordion-header">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
									<span class="num">1.</span>
									What is a monthly parking system?
								</button>
							</h3>
							<div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
								<div class="accordion-body">
									Averisparking system is a service that allows individuals or businesses to rent a parking space in a designated parking facility for an extended period, typically on a monthly basis.
								</div>
							</div>
						</div>
						<!-- # Faq item-->

						<div class="accordion-item">
							<h3 class="accordion-header">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
									<span class="num">2.</span>
									What are the benefits of monthly parking compared to daily parking?
								</button>
							</h3>
							<div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
								<div class="accordion-body">
									Monthly parking offers benefits such as cost savings, reserved parking spaces, convenience, security, and predictable monthly expenses compared to the daily or hourly rates of parking.
								</div>
							</div>
						</div>
						<!-- # Faq item-->

						<div class="accordion-item">
							<h3 class="accordion-header">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
									<span class="num">3.</span>
									Is my parking space reserved exclusively for me with a monthly plan?
								</button>
							</h3>
							<div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
								<div class="accordion-body">
									Yes, with a monthly parking plan, you typically have a reserved parking space that is exclusively yours during the duration of your subscription.
								</div>
							</div>
						</div>
						<!-- # Faq item-->

						<div class="accordion-item">
							<h3 class="accordion-header">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
									<span class="num">4.</span>
									Can I access my monthly parking space 24/7?
								</button>
							</h3>
							<div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
								<div class="accordion-body">
									Averis Parking system are able to be access for 24/7 due to some of employee that are working on night shift. You can also park your vehicle overnight without any worry due to 24/7 security
								</div>
							</div>
						</div>
						<!-- # Faq item-->

						<div class="accordion-item">
							<h3 class="accordion-header">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">
									<span class="num">5.</span>
									How do I contact customer support if I have issues with my monthly parking plan?
								</button>
							</h3>
							<div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
								<div class="accordion-body">
									You may click on the “contact” at top of the page where we provide our contact number, email and Fax.
								</div>
							</div>
						</div>
						<!-- # Faq item-->

						<div class="accordion-item">
							<h3 class="accordion-header">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">
									<span class="num">5.</span>
									What happens if I forget to renew my monthly parking plan?
								</button>
							</h3>
							<div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
								<div class="accordion-body">
									If you forget to renew your monthly parking plan, your access may be restricted, and your parking space could be allocated to someone else. It's important to renew on time to avoid any disruptions.
								</div>
							</div>
						</div>
						<!-- # Faq item-->

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Frequently Asked Questions Section -->

	<!-- ======= Contact Section ======= -->
	<section id="contact" class="contact">
		<div class="container" data-aos="fade-up">

			<div class="section-header">
				<h2>Contact</h2>
				<p>Feel free to contact us if have any question and technical support with 24/7</p>
			</div>

			<div class="row gx-lg-0 gy-4">
				<div class="col-lg-4">
					<div class="info-container d-flex flex-column align-items-center justify-content-center">
						<div class="info-item d-flex">
							<i class="bi bi-geo-alt flex-shrink-0"></i>
							<div>
								<h4>Location:</h4>
								<p>
								Level 5, Tower 2, Avenue 5,<br>
								Bangsar South, No. 8 Jalan Kerinchi, <br>
								535022, Kuala Lumpur, <br>
								Malaysia
								<br><br>
								<strong>Phone:</strong>
								+603 2785 8888<br>
								<strong>Email:</strong>
								enquiries@averis.biz<br>
								</p>
							</div>
						</div>
						<!-- End Info Item -->

						<div class="info-item d-flex">
							<i class="bi bi-envelope flex-shrink-0"></i>
							<div>
								<h4>Email:</h4>
								<p>enquiries@averis.biz</p>
							</div>
						</div>
						<!-- End Info Item -->

						<div class="info-item d-flex">
							<i class="bi bi-phone flex-shrink-0"></i>
							<div>
								<h4>Call:</h4>
								<p>+ 603 2785 8888</p>
							</div>
						</div>
						<!-- End Info Item -->

						<div class="info-item d-flex">
							<i class="bi bi-clock flex-shrink-0"></i>
							<div>
								<h4>Open Hours:</h4>
								<p>Mon-Sat: 11AM - 23PM</p>
							</div>
						</div>
						<!-- End Info Item -->
					</div>

				</div>

				<div class="col-lg-8">
					<form action="forms/contact.php" method="post" role="form" class="php-email-form">
						<div class="row">
							<div class="col-md-6 form-group">
								<input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
							</div>
							<div class="col-md-6 form-group mt-3 mt-md-0">
								<input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
							</div>
						</div>
						<div class="form-group mt-3">
							<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
						</div>
						<div class="form-group mt-3">
							<textarea class="form-control" name="message" rows="7" placeholder="Message" required></textarea>
						</div>
						<div class="my-3">
							<div class="loading">Loading</div>
							<div class="error-message"></div>
							<div class="sent-message">Your message has been sent. Thank you!</div>
						</div>
						<div class="text-center">
							<button type="submit">Send Message</button>
						</div>
					</form>
				</div>
				<!-- End Contact Form -->
			</div>
		</div>
	</section>
	<!-- End Contact Section -->

{% endblock %}
