{% extends 'base.html.twig' %}

{% block title %}APS
{% endblock %}

{% block body %}
	<!-- ======= Pricing Section ======= -->
	<section id="pricing" class="pricing sections-bg">
		<div class="container" data-aos="fade-up">

			<div class="section-header">
				<h2>Pricing</h2>
				<p>Choose a plan that fits your needs and enjoy exclusive benefits while parking with us.</p>
			</div>


			<div class="row g-4 py-lg-5" data-aos="zoom-out" data-aos-delay="100">

				<div class="col-lg-4">
					<div class="pricing-item">
						<h3>Basic Plan</h3>
						<div class="icon">
							<i class="bi bi-wallet"></i>
						</div>
						<h4>
							<sup>Rm</sup>100<span> / month</span>
						</h4>
						<ul>
							<li>
								<i class="bi bi-check"></i>
								Level B3 - B4</li>
							<li>
						</ul>
						<div class="text-center">
							<a href="#" class="buy-btn">Subscribe Now</a>
						</div>
					</div>
				</div>
				<!-- End Pricing Item -->

				<div class="col-lg-4">
					<div class="pricing-item featured">
						<h3>Premium Plan</h3>
						<div class="icon">
							<i class="bi bi-star"></i>
						</div>

						<h4>
							<sup>Rm</sup>160<span> / month</span>
						</h4>
						<ul>
							<li>
								<i class="bi bi-check"></i>
								Level LG</li>
							<li>
						</ul>
						<div class="text-center">
							<a href="#" class="buy-btn">Subscribe Now</a>
						</div>
					</div>
				</div>
				<!-- End Pricing Item -->

				<div class="col-lg-4">
					<div class="pricing-item">
						<h3>Standard Plan</h3>
						<div class="icon">
							<i class="bi bi-clock"></i>
						</div>
						<h4>
							<sup>Rm</sup>130<span> / month</span>
						</h4>
						<ul>
							<li>
								<i class="bi bi-check"></i>
								Level B2 - B1</li>
							<li>
						</ul>
						<div class="text-center">
							<a href="#" class="buy-btn">Subscribe Now</a>
						</div>
					</div>
				</div>
				<!-- End Pricing Item -->

			</div>

		</div>
	</section>
	<!-- End Pricing Section -->
{% endblock %}
