{% extends 'base.html.twig' %}

{% block title %}Edit Vehicle{% endblock %}

{% block body %}
    <section id="contact" class="contact">
		<div class="container" data-aos="fade-up">

			<div class="section-header">
				<h2>Edit Vehicle</h2>
				<p>Vehicle Edit</p>
			</div>

            <div class="row gx-lg-0 gy-4">
                <div class="col-md-12">
                    {{ include('vehicle/_form.html.twig', {'button_label': 'Update'}) }}
                </div>
			</div>
        </div>
    </section>

    {# <a href="{{ path('app_vehicle_index') }}">back to list</a>

    {{ include('vehicle/_delete_form.html.twig') }} #}
{% endblock %}
