{% extends 'base.html.twig' %}

{% block title %}Edit Owner{% endblock %}

{% block body %}
    <section id="contact" class="contact">
		<div class="container" data-aos="fade-up">

			<div class="section-header">
				<h2>Edit Owner</h2>
				<p>Owner Edit</p>
			</div>

            <div class="row gx-lg-0 gy-4">
                <div class="col-md-12">
                    {{ include('owner/_form.html.twig', {'button_label': 'Update'}) }}
			</div>
        </div>
    </section>

    {# {{ include('owner/_delete_form.html.twig') }} #}
{% endblock %}
