{% extends 'base.html.twig' %}

{% block title %}New Payment{% endblock %}

{% block body %}

	<section id="contact" class="contact">
		<div class="container" data-aos="fade-up">

			<div class="section-header">
				<h2>Create new Payment</h2>
				<p>Payment New</p>
			</div>

            <div class="row gx-lg-0 gy-4">
                {{ include('payment/_form.html.twig') }}
			</div>
        </div>
    </section>

{% endblock %}
